* {
	box-sizing: border-box;
}

:root {
	--neonyellow: #FFF01F;
	--neongreen: #ADF802;
	--g1: #101010;
	--g2: #202020;
	--g3: #303030;
	--g4: #404040;
	--g5: #505050;
	--g6: #606060;
	--g7: #707070;
	--g8: #808080;
	--g9: #909090;
	--g10: #D3D3D3;
}

@font-face {
	font-family: cpmono;
	src: url(../fonts/cpmono/CPMono_v07\ Light.otf);
}

@font-face {
	font-family: gravity;
	src: url(../fonts/gravity/Gravity-Light.otf);
}

@font-face {
	font-family: lane;
	src: url(../fonts/lane/LANENAR_.ttf);
}

body {
	margin: 0px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar, main::-webkit-scrollbar, .sideBar::-webkit-scrollbar, .chat::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

h1, h2, h3, h4, h5, h6 {
	font-family: cpmono;
	margin: 8px;
}

p, span, a {
	font-family: gravity;
	margin: 8px;
}

h1 {font-size: 4em;}
h2 {font-size: 3em;}
h3 {font-size: 2.5em;}
h4 {font-size: 2em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1em;}
span {font-size: 0.8em;}

a {
	color: var(--neonyellow);
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

a:hover {text-decoration: underline;}

@media only screen and (max-width: 600px) {
	h1 {font-size: 3em;}
	h2 {font-size: 2.2em;}
	h3 {font-size: 1.4em;}
	h4 {font-size: 1.2em;}
	h5 {font-size: 1.1em;}
}

input {
	background-color: var(--g1);
	color: var(--neongreen);
	font-family: cpmono;
	border: 1px solid var(--g10);
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 1em;
}

input::file-selector-button {
	-webkit-appearance: none;
    color: var(--g8);
	background-color: var(--g2);
	font-family: cpmono;
    margin-right: 8px;
	border: none;
}

input[type="range"] {
	-webkit-appearance: none;
	height: 2px;
	border: none;
	background-color: var(--neongreen);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}
  
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 4px;
	background: var(--g10);
	cursor: ew-resize;
	transition: background .3s ease-in-out;
}
  
input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="color"] {-webkit-appearance: none;}
input[type="color"]::-webkit-color-swatch {border: none;}
input[type="color"]::-webkit-color-swatch-wrapper {padding: 0px;}

header, nav, .sideBar, main, .explorer {
	position: fixed;
}

nav, main, .explorer {
	left: 200px;
}

header {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 36px;
	background-color: var(--neonyellow);
	color: var(--g1);
	padding-left: 8px;
	padding-right: 8px;
}

nav {
	top: 36px;
	right: 0px;
	height: 20;
	padding-left: 8px;
	padding-right: 8px;
	background-color: purple;
}

main {
	top: 56px;
	padding: 8px;
	bottom: 20px;
	right: 0px;
	background-color: var(--g1);
	color: var(--g10);
	overflow-y: auto;
}

.sideBar {
	padding: 8px;
	width: 200px;
	top: 36px;
	left: 0px;
	bottom: 0px;
	background-color: var(--g4);
	color: var(--g10);
    display: inline;
	overflow-y: auto;
}

.explorer {
	background-color: purple;
	color: var(--g10);
	bottom: 0px;
	right: 0px;
	height: 20px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: right;
}

footer {
	margin-top: 32px;
	width: 100%;
	background-color: var(--neonyellow);
	color: var(--g1);
}

footer a {color: var(--g1);}
footer a:hover {color: purple;}

@media only screen and (max-width: 950px) {
	main, nav, .explorer {left: 0px;}
	.sideBar {display: none;}
}

button {
	font-family: cpmono;
	padding: 0px;
	width: 100%;
	height: 24px;
	border: none;
}

button.default {
	background-color: var(--g1);
	border: 1px solid var(--g10);
	color: var(--g10);
}

button.default:hover {
	background-color: var(--g10);
	color: var(--g1);
}

button.success {
	background-color: var(--g1);
	border: 1px solid var(--neongreen);
	color: var(--neongreen);
}

button.success:hover {
	background-color: var(--neongreen);
	color: var(--g1);
}

button.warning {
	background-color: var(--g1);
	border: 1px solid var(--neonyellow);
	color: var(--neonyellow);
}

button.warning:hover {
	background-color: var(--neonyellow);
	color: var(--g1);
}

button.danger {
	background-color: var(--g1);
	border: 1px solid red;
	color: var(--neonyellow);
}

button.danger:hover {
	background-color: red;
	color: var(--g1);
}

button.info {
	background-color: var(--g1);
	border: 1px solid lightskyblue;
	color: lightskyblue;
}

button.info:hover {
	background-color: lightskyblue;
	color: var(--g1);
}

button.link {
	background-color: var(--g1);
	border: 1px solid var(--g10);
	color: lightskyblue;
}

button.link:hover {
	background-color: lightskyblue;
	border: 1px solid var(--g1);
	color: var(--g1);
}

table {
	table-layout: fixed;
	width: 100%;
}

th {
	font-family: cpmono;
	text-align: left;
	color: var(--neonyellow);
	background-color: purple;
	padding-left: 8px;
	padding-right: 8px;
}

td {
	font-family: cpmono;
	color: var(--neonyellow);
	border: 1px solid var(--g5);
	padding-left: 8px;
	padding-right: 8px;
}

ul {
	list-style-type: "> ";
	margin: 16px;
	padding: 0px;
}

.card {
	width: 100%;
	background-color: var(--g1);
}

.card:hover {
	background-color: var(--g2);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	.row {display: block;}
}

.col3, .col4, .col6, .col12 {
	padding: 8px;
}

.col12 {width: 100%;}
.col6 {width: 50%;}
.col4 {width: 33.33%;}
.col3 {width: 25%;}

@media only screen and (max-width: 600px) {
	.col3, .col4, .col6, .col12 {width: 100%;}
}

.divider {
	width: 100%;
	background-color: var(--neongreen);
	height: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.picLarge, .picMedium, .picSmall {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.picLarge {height: 320px;}
.picMedium {height: 256px;}
.picSmall {height: 160px;}

.centralLarge {
	vertical-align: auto;
	margin: auto;
	max-width: 512px;
}

.centralMedium {
	vertical-align: auto;
	margin: auto;
	max-width: 256px;
}

.labdl, .labdr, .labul, .labur {
	position: absolute;
	background-color: var(--g10);
	color: var(--g1);
	margin: 8px;
}

.labdl {bottom: 0px; left: 0px;}
.labdr {bottom: 0px; right: 0px;}
.labul {top: 0px; left: 0px;}
.labur {top: 0px; right: 0px;}

.chat {
	position: absolute;
	overflow: auto;
	top: 80px;
	right: 8px;
	left: 8px;
	bottom: 48px;
}

.chatInput {
	position: absolute;
	left: 8px;
	bottom: 12px;
	right: 80px;
}

.searchBox {
	position: relative;
	display: flex;
	padding: 8px;
}