@font-face {
	font-family: cpmono;
	src: url(../fonts/cpmono/CPMono_v07\ Light.otf);
}

body {
	margin: 0px;
	box-sizing: border-box;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar, main::-webkit-scrollbar, .sideBar::-webkit-scrollbar, .chat::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

h1, h2, h3, h4, h5, h6, p, span, a {
	font-family: cpmono;
	margin: 8px;
	box-sizing: border-box;
}

h1 {
	font-size: 4em;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 3em;
	}
}

h2 {
	font-size: 3em;
}

@media only screen and (max-width: 600px) {
	h2 {
		font-size: 2.2em;
	}
}

h3 {
	font-size: 2.5em;
}

@media only screen and (max-width: 600px) {
	h3 {
		font-size: 1.4em;
	}
}

h4 {
	font-size: 2em;
}

@media only screen and (max-width: 600px) {
	h4 {
		font-size: 1.2em;
	}
}

h5 {
	font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
	h5 {
		font-size: 1.1em;
	}
}

h6 {
	font-size: 1em;
}

a {
	color: yellow;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

a:hover {
	text-decoration: underline;
}

span {
	font-size: 0.8em;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: yellow;
	color: black;
	padding-left: 8px;
	padding-right: 8px;
}

input {
	background-color: black;
	color: chartreuse;
	font-family: cpmono;
	border: 1px solid white;
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	box-sizing: border-box;
	font-size: 1em;
}

input[type="range"] {
	-webkit-appearance: none;
	height: 2px;
	border: none;
	background-color: chartreuse;
	background-size: 70% 100%;
	background-repeat: no-repeat;
}
  
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 4px;
	background: white;
	cursor: ew-resize;
	transition: background .3s ease-in-out;
}
  
input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
}

input[type="color"] {
	-webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

nav {
	position: fixed;
	top: 35px;
	left: 240px;
	right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: purple;
}

main {
	position: fixed;
	top: 56px;
	left: 240px;
	padding-left: 8px;
	padding-right: 8px;
	bottom: 21px;
	right: 0px;
	display: block;
	background-color: #050505;
	color: white;
	overflow-y: auto;
}

.sideBar {
	position: fixed;
	padding: 8px;
	width: 226px;
	top: 35px;
	left: 0px;
	bottom: 0px;
	background-color: #202020;
	color: white;
    display: inline;
	overflow-y: auto;
}

@media only screen and (max-width: 950px) {
	.sideBar {
		display: none;
	}
}

.explorer {
	position: fixed;
	background-color: purple;
	color: white;
	left: 240px;
	bottom: 0px;
	right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: right;
}

@media only screen and (max-width: 950px) {
	main, nav, .explorer {
		left: 0px;
	}
}

button {
	font-family: cpmono;
	padding: 0px;
	width: 100%;
	height: 24px;
	border: none;
}

button.default {
	background-color: black;
	border: 1px solid white;
	color: white;
}

button.default:hover {
	background-color: white;
	color: black;
}

button.success {
	background-color: black;
	border: 1px solid chartreuse;
	color: chartreuse;
}

button.success:hover {
	background-color: chartreuse;
	color: black;
}

button.warning {
	background-color: black;
	border: 1px solid orange;
	color: orange;
}

button.warning:hover {
	background-color: orange;
	color: black;
}

button.danger {
	background-color: black;
	border: 1px solid red;
	color: yellow;
}

button.danger:hover {
	background-color: red;
	color: black;
}

button.info {
	background-color: black;
	border: 1px solid lightskyblue;
	color: lightskyblue;
}

button.info:hover {
	background-color: lightskyblue;
	color: black;
}

button.link {
	background-color: black;
	border: 1px solid white;
	color: lightskyblue;
}

button.link:hover {
	background-color: lightskyblue;
	border: 1px solid black;
	color: black;
}

table {
	table-layout: fixed;
	width: 100%;
}

th {
	font-family: cpmono;
	text-align: left;
	color: yellow;
	background-color: purple;
	padding-left: 8px;
	padding-right: 8px;
}

td {
	font-family: cpmono;
	color: yellow;
	border: 1px solid #505050;
	padding-left: 8px;
	padding-right: 8px;
}

ul {
	list-style-type: "> ";
	margin: 16px;
	padding: 0px;
}

.card {
	width: 100%;
	background-color: #101010;
}

.card:hover {
	background-color: #202020;
}

.row {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	.row {
		display: block;
	}
}

.col3, .col4, .col6, .col12 {
	box-sizing: border-box;
	padding: 8px;
}

.col12 {
	width: 100%;
}

.col6 {
	width: 50%;
}

.col4 {
	width: 33.33%;
}

.col3 {
	width: 25%;
}

@media only screen and (max-width: 600px) {
	.col3, .col4, .col6, .col12 {
		width: 100%;
	}
}

.divider {
	width: 100%;
	background-color: white;
	height: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.picLarge, .picMedium, .picSmall {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}

.picLarge {
	height: 320px;
}

.picMedium {
	height: 256px;
}

.picSmall {
	height: 160px;
}

.centralLarge {
	vertical-align: auto;
	margin: auto;
	max-width: 512px;
}

.centralMedium {
	vertical-align: auto;
	margin: auto;
	max-width: 256px;
}

.innerTextLeft, .innerTextRight {
	position: relative;
}

.innerTextLeft {
	left: 0px;
}

.innerTextRight {
	right: 0px;
	float: ;
	text-align: right;
}

.chat {
	position: absolute;
	box-sizing: border-box;
	overflow: auto;
	top: 80px;
	right: 8px;
	left: 8px;
	bottom: 48px;
}

.chatInput {
	position: absolute;
	box-sizing: border-box;
	left: 8px;
	bottom: 12px;
	right: 80px;
}

.searchBox {
	position: relative;
	display: flex;
	padding: 8px;
}